

.input {
  display: block;
  height: calc(2.25rem + 2px);
  padding: 0.175rem 0.55rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 200;
  color: #bdbdbd;
  background-clip: padding-box;
  border: 1px solid #242424;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}





